-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu102/torch1.7/index.html
jupyter
wait-for-it==2.1.1
nibabel==3.1.1
six==1.12.0
scipy==1.4.1
matplotlib==3.2.2
opencv-python
pynrrd==0.4.2
numpy==1.20.0
Pillow==7.2.0
pycocotools==2.0.2
torch==1.7.0
torchvision==0.8.1
detectron2
